<div class="topnav topBotomBordersIn d-flex justify-content-between align-items-center">

  <div class="logo d-flex flex-direction-row align-self-center">
    <div>
      <%= cl_image_tag(
        "https://res.cloudinary.com/dus151ezt/image/upload/v1675912302/Avatar_vwmnxn.png",
        crop: :fill) %>
    </div>
    <div class="logo--text">
      <p>Cyrille</p>
      <p>web developer</p>
    </div>
  </div>
  <div class="text-align-right">
    <%= link_to "Home", root_path %>
    <%= link_to "Web", web_path %>
    <%= link_to "Woodwork", woodwork_path %>
    <%= link_to "Contact", contact_path %>
    <% if user_signed_in? %>
      <%= link_to "new project?", new_project_path %>
    <% end %>
  </div>

</div>