<div class="topnav topBotomBordersIn">

  <div class="logo">
    <div>
      <%# <%= cl_image_tag(
        "https://res.cloudinary.com/dus151ezt/image/upload/v1675912302/Avatar_vwmnxn.png",
        crop: :fill) %>
    </div>
    <div class="logo--text">
      <p>Cyrille</p>
      <p>web developer</p>
    </div>
  </div>
  <div>
    <%= link_to "Home", root_path %>
    <%= link_to "Web", web_path %>
    <%= link_to "Woodwork", woodwork_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Login", contact_path %>
  </div>

</div>