<div class="topnav sticky d-flex justify-content-between align-items-center">

  <div class="logo d-flex align-self-center">
    <div>
      <%= cl_image_tag(
        "https://res.cloudinary.com/dus151ezt/image/upload/v1675912302/Avatar_vwmnxn.png",
        crop: :fill) %>
    </div>
    <div class="logo--text">
      <p>Cyrille</p>
      <p>web developer</p>
    </div>
  </div>
  <div class="text-align-right topBotomBordersIn ">
    <%= link_to "Home", root_path %>
    <%= link_to "Web", web_path %>
    <%= link_to "Woodwork", woodwork_path %>
    <%= link_to "Contact", contact_path %>
    <% if current_user && current_user.admin? %>
      <%= link_to "New", new_project_path %>
    <% end %>
  </div>

</div>