<div class="container red topBotomBordersIn">

  <%= link_to "Cyrille", root_path %>
  <%= link_to "Web", root_path %>
  <%= link_to "Woodwork", root_path %>
  <%= link_to "Contact", root_path %>
  <%= link_to "FR", root_path %>
  <%= link_to "EN", root_path %>

</div>