<div class="container new-form d-flex justify-content-between">

  <div class="form-group text-start">

    <h4 class="form-group text-start">Veuillez entrer les détails de votre projet</h4>

    <%= form_with model: @project, method: :post do |f| %>

      <div class="form-group">
        <%= f.text_field :name, class:"form-control", placeholder:"Indiquez le nom" %>
      </div>

      <div class="form-group">
        <%= f.text_area :description, class:"form-control", placeholder: "Ajoutez une description" %>
      </div>

      <div class="form-check">
        <div>Il s'agit d'un projet en...</div>
        <div>
          <%= f.check_box :is_woodworking %>
          <%= f.label :is_woodworking, "Menuiserie" %>
        </div>
        <div>
          <%= f.check_box :is_web %>
          <%= f.label :is_web, "Web" %>
        </div>
      </div>

      <div class="form-check">
        <div><%= f.label :photos, "Sélectionnez vos images :" %></div>
        <div><%= f.file_field :photos,  multiple: true, class:"form-control-file" %></div>
      </div>

      <div class="form-group text-end">
        <%= f.submit class:"btn btn-success btn-lg btn-block" %>
      </div>

    <% end %>

    <div>
      <%= link_to "Retour à l'accueil", root_path %></p>
    </div>

  </div>

  <div class="picture text-center">
    <%= cl_image_tag("https://res.cloudinary.com/dus151ezt/image/upload/v1614447271/roadcypressesv_ivna6i.jpg", crop: :fill) %>
  </div>

</div>