<div>
  <h1><%= @project.name %></h1>
  <p><%= @project.description %></p>
  <%= image_tag(@project.photo, width: "300px") %>

</div>
<div>
  <%= link_to "Mettre à jour", edit_project_path(@project) %>
</div>
<div>
  <%= link_to "Supprimer",
    project_path(@project),
    data: {turbo_method: :delete, turbo_confirm: "Sûr de ton coup ?"}
  %>
</div>
<div>
  <%= link_to "Retour à l'index", root_path %>
</div>
